*{ 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
} 
.contact { 
  background: url(./men.png)no-repeat; 
  background-size: 100% 100%; 
  width: 100%; 
  height: 100vh; 
} 
.head { 
  background-color: #201E1D; 
  border-radius: 5px; 
  margin-top: -40px; 
  -webkit-box-shadow: 9px 4px 8px 0px rgba(83, 165, 229, 0.25); 
-moz-box-shadow: 9px 4px 8px 0px rgba(83, 165, 229, 0.25); 
box-shadow: 9px 4px 8px 0px rgba(83, 165, 229, 0.25); 
} 
.effect-1 { 
  border: 0; 
  outline: none; 
  width: 100%; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc; 
} 
.effect-1 ~ .Focus-border{ 
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  width: 0; 
  height: 2px; 
  background-color: #201E1D; 
  transition: 0.4s; 
} 
.effect-1:focus ~ .Focus-border{ 
  width: 100%; 
  transition: 0.4s; 
  left: 0; 
} 
.btn1 { 
  background-color: #201E1D; 
  color: white; 
  outline: none; 
  border: none; 
  border-radius: 5px; 
  height: 40px; 
  width: 145px; 
} 
.btn1:hover{ 
  -webkit-box-shadow: 9px 4px 8px 0px rgba(83, 165, 229, 0.25); 
-moz-box-shadow: 9px 4px 8px 0px rgba(83, 165, 229, 0.25); 
box-shadow: 9px 4px 8px 0px rgba(83, 165, 229, 0.25); 
}
.buttons{ 
  width: 80%; 
  min-height: 60px; 
  margin: auto; 
  text-align: center; 
} 
.buttons ul li{ 
  list-style: none; 
  display: inline-block; 
  padding: 8px 8px; 
  position: relative; 
} 
.buttons ul li a{ 
  display: inline-block; 
  text-align: center; 
  padding: 12px 12px; 
  background-size: contain; 
  position: relative; 
  cursor: pointer; 
} 
.insta_button{ 
  background-image: url(pics/insta.png); 
} 
.face_button{ 
  background-image: url(pics/facebook.png); 
} 
.what_button{ 
  background-image: url(pics/whatsapp.png); 
}